@charset "utf-8";

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}*/


.teste{width: 100%;
       height: 800px;}

@media (min-width: 544px) {
    .overflow-sm-auto {
      overflow: auto;
    }
}




@media screen and (max-width:400px) and (orientation:portrait) {

    .teste{background: yellow;}/*orientation retrato*/

    .teste{background-image: url(image/BG-01-P.jpg);}

    h1{font-size: 15vw;
        color: white;
        margin-left: 10px;
        font-variant: small-caps;}

        p{font-size: 7vw;
            color:white;}
    
}

@media screen and (max-width:400px) and (orientation:landscape){

    .teste{background:rebeccapurple;}/*orientation paisagem*/

    .teste{background-image: url(image/BG-01-P.jpg);}

    h1{font-size: 15vw;
       color: white;
       margin-left: 10px;
       font-variant: small-caps;}

       p{font-size: 7vw;
         color:white;}
}
